body {
	background: white;
}

@font-face {
	font-family: acumin-pro, sans-serif;
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: acumin-pro-wide, sans-serif;
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: acumin-pro-condensed, sans-serif;
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: acumin-pro-extra-condensed, sans-serif;
	font-style: normal;
	font-weight: 200;
}
















.grid_container{
	width: 390px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
}

h1 {
	display: inline;
	font-family: neue-haas-unica, sans-serif;
	margin-left:35px;
	font-weight: 700;
	font-style: normal;
	font-size: 45px;

	color:white;
}

#bottomText {
	font-size: 23px;
	line-height: 50%;
	position: absolute;
	top:565px;
	left:65px;
	font-family: tandelle, sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.5px;
	transform: scaleY(1.0);
	transform:scaleX(1.1);
	color: #BB7D47;
}



.holes {
	position: absolute;
	display:inline;
	top:420px;
	left:65px;
	letter-spacing: -5px;
	font-family: acumin-pro-wide,sans-serif;
	font-size:70px;
	font-weight: 700;
	color:#A9E7F0;
	transform: scale(1.2, 2.5);
	animation: turn 3s alternate infinite;
	animation-play-state: paused;              /* trigger on hover */

}

.holes:hover {
	animation-play-state: running;

}

@keyframes turn {
	0% { transform: scale(1.2, 2.5) rotatex(0deg) rotateY(0deg); }
	30% { transform: scale(1.2, 2.5) rotatex(0deg) rotateY(0deg); }
	100% { transform: scale(1.2, 2.5) rotatex(10deg) rotateY(40deg); }
}



@keyframes circle_move{

	0% 	{width:31px; height: 28px; background: #6FCDFE; }
	10%		{width:48px; height: 46px; background: #6FCDFE; }
	20%		{width:57px; height: 53px; background: #6FCDFE;}
	30%		{width:72px; height: 69px; background: #6FCDFE; }
	40% 	{width:120px; height: 119px; background: #6FCDFE; }
	50%  	{width:143px; height: 141px; background: #6FCDFE; }
  60% 	{width: 287px; height: 283px;background: #6FCDFE; }
	70%		{width: 287px; height: 283px;background: #6FCDFE; }
	80% 	{width: 287px; height: 283px;background: #6FCDFE; }
	90%		{width: 287px; height: 283px;background: #6FCDFE; }
	100% 	{width: 287px; height: 283px;background: #6FCDFE; }
}

.circle {
	position:absolute;
	left: 140px;
	top:188px;
	border-radius: 50%;
  width: 287px;
  height: 283px;
	margin: 50px;
	transform: translate(-50%, -50%);
	transform-origin: center center;
  background: #A9E7F0;
	overflow:hidden;
	animation: circle_move 6s infinite ease-in;
}

@keyframes shovel_Position_move{
	0%   {top:330px; left: 180px;}
	20% {top: 200px; left:230px; transform: rotate(40deg);}
	30% {top: 200px; left:230px; transform: rotate(80deg);}
	40% {top: 200px; left:230px; transform: rotate(40deg);}
	50% {top: 200px; left:230px; transform: rotate(80deg);}
	60% {top: 200px; left:230px; transform: rotate(80deg);}
  70% {top:370px; left:130px;}
	80% {top:370px; left:130px;}
	90% {top:370px; left:130px;}
	100% {top:370px; left:130px;}
}

.shovel_Position {
	position: absolute;
	top:230px;
	left:220px;
	animation: shovel_Position_move 5s infinite ease-out;
}


#yearling {
	position:absolute;
	font-size:11px;
	top:110px;
	left:315px;
	color:#BB7D47;
}


#horse {
	position:absolute;
	top:75px;
	left:277px;
}


#caveman {
	position:absolute;
	top:240px;
	left:50px;
	transform:rotate(17deg);
}

#squid {
	position:absolute;
	top:150px;
	left:52px;
	transform:rotate(3deg);
}

#zero {
	position:absolute;
	top:288px;
	left:197px;
	transform:rotate(5deg);
}

#armpit {
	position:absolute;
	top:189px;
	left:235px;
	transform:rotate(2deg);
}

#zig_magnet {
	position:absolute;
	top:100px;
	left:200px;
	transform:rotate(-3deg);
}

#xray {
	position:absolute;
	top:97px;
	left:95px;
	transform:rotate(-3deg);
}
